<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <jmxConfigurator/>

    <!-- 定义日志文件 输入位置 -->
    <property name="log_dir" value="/var/log/proxypool/${PID}" />
    <!-- 日志最大的历史 30天 -->
    <property name="maxHistory" value="30"/>
    <!-- 文件编码 -->
    <property name="charset" value="UTF-8"/>

    <appender name="proxy_info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 过滤器，只记录INFO级别的日志 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log_dir}/%d{yyyy-MM-dd}/proxy_pool_info.log</fileNamePattern>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%thread] %logger{36} %msg%n</pattern>
            <charset>${charset}</charset>
        </encoder>
    </appender>
    <logger name="me.olook.proxypool" level="DEBUG" additivity="false">
        <appender-ref ref="proxy_info" />
    </logger>
    <logger name="org.apache.http.impl.execchain" level="OFF">
    </logger>
</configuration>